<h2>Orders</h2>
<table class="table table-striped table-bordered w-auto">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Orders</th>
        
      </tr>
    </thead>
      <tbody border="1">
        <ng-container *ngFor="let customer of customers">
          <tr>
            <td><img src="assets/ted.jpg" width="50" height="50"></td>
              <td>{{ customer.firstname }} {{ customer.lastname }}</td>
              <td>
                  <table class="table table-striped table-bordered w-auto">
                      <thead>
                          <tr>
                              <th>Item</th>
                              <th>Price</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let order of customer.orders">
                              <td>{{ order.item }}</td>
                              <td>{{ order.price }}₹</td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
        </ng-container>
    </tbody>
      
      
    </table>
  
